{# templates/emails/registration.html.twig #}
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Hello</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Vous avez égaré votre mot de passe, mais rien de grave<br></p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="">Nous vous attribuons un mot de passe temporaire. Nous vous conseillons de le changer dans votre espace personnel (profil)<br> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <p class=""> le mot de passe est donc saucemoutard<br> </p>
        </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead" contenteditable="true" >A bientôt</p>
        </div>
      </div>
    </div>
  </div>