<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        
            <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="">QUI SE CACHE DERRIÈRE ?</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"></div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-justify">L'équipe de choc.&nbsp;<br><br>Laura Mendes&nbsp;<br><br>- Co fondatrice TOUJOURS le sourire, elle est passionnée de design, de décoration et d'artisanat français. Diplômée de l'Université Paris Dauphine, passée par l'incubateur D-start et actuellement chez Accenture en Open innovation elle veut maintenant envoyer la sauce!&nbsp;<br><br>Quentin Le Gall&nbsp;<br><br>- Co-fondateur Enthousiaste, optimiste et passionné. Ex- NUMA et Accenture. Diplomé de NEOMA Business School. Amoureux de bonne nourriture et des beaux restaurants. Pizza Lover mais surtout Cinnamon Roll addict.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="" contenteditable="true">CONTACT</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>O my friend</h1>
          <p class="mb-3">Vous voulez soumettre un nouvel espace de travail ? Nous sommes friands de nouveaux restaurants. Remplissez le formulaire juste à droite et nous irons inspecter les lieux. Vous souhaitez nous rencontrer ? Nous faire une recommandation ? Laissez-nous un petit message ! Vous pouvez aussi nous retrouver sur Facebook ici ou nous envoyer un petit mail à hello@saucemoutard.com</p>
        </div>
      </div>
    </div>
  </div>
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
