<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
<link rel="stylesheet" href="{{asset('build/css/profil.109554f5.css')}}">


</head>

<body class="text-justify">
<div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">Mentions légales</h1>
          <p contenteditable="false" class="text-justify" >
              
              Mentions Légales

	



	



	Ce site est édité par la société  MOUTARD SAS.

	



	Siège social : MOUTARD, 98 rue de Montreuil, 75011 Paris

	Capital social : 4000 euros

	Téléphone : +33 (0)6.74.81.06.26

	



	Responsable de la rédaction :

	



	Développement, hébergement :

	Quentin Le Gall - MOUTARD

        98 RUE DE MONTREUIL 75011 PARIS

	Tél : 06 74 81 06 26

	Informatique et liberté

	



	Aucune information personnelle n'est collectée à votre insu. Les informations que vous nous communiquez lors d’une demande de devis, lors de votre inscription, de renseignements ou d’inscription à la newsletter par courrier, par téléphone, par e-mail ou par formulaire sont uniquement destinées au traitement administratif et commercial de votre demande par la société MOUTARD.

	



	Elles ne font l'objet d'aucune cession à des tiers. MOUTARD  traite les informations qui vous concernent avec la plus grande confidentialité.

	



	Conformément à la loi « Informatique et Libertés » n°78-17 du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et d'opposition aux données personnelles vous concernant. Pour l'exercer, il suffit de nous en faire la demande par écrit aux coordonnées suivantes : Service Données, hello@saucemoutard.com .



	Droit d'auteur / copyright

	



	L'ensemble du contenu du présent site Internet, y compris nom de domaine, marques, logo, texte… est la propriété de la société MOUTARD, il est protégé par les lois en vigueur de la législation française sur la propriété intellectuelle.

	



	Aucun élément de ce site ne peut être copié, reproduit, détourné ou dénaturé, et ce, sur quelque support que ce soit, sans constituer un acte de contrefaçon au sens des articles L 335-2 et suivants du code de la propriété intellectuelle. 



	Accès au site

	



	L'utilisateur de ce site reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site. MOUTARD ne saurait être tenu responsable des éléments en dehors de son contrôle et des dommages qui pourraient éventuellement être subis par l'environnement technique de l'utilisateur et notamment, ses ordinateurs, logiciels, équipements réseaux et tout autre matériel utilisé pour accéder ou utiliser le service et/ou les informations.

	



	Il est rappelé que le fait d'accéder ou de se maintenir frauduleusement dans un système informatique, d'entraver ou de fausser le fonctionnement d'un tel système, d'introduire ou de modifier frauduleusement des données dans un système informatique constitue des délits passibles de sanctions pénales.

	

Limitation de responsabilité

	



	MOUTARD s'attache à transmettre des informations régulièrement mises à jour, notamment sur les actualités ainsi que sur le contenu des articles. Toutefois des informations erronées ou des omissions peuvent être constatées, suite notamment à des erreurs de saisie ou de mise en page. Si vous en faisiez le constat nous vous invitons à nous le signaler pour que nous puissions procéder à leur rectification.

	



	Nous nous réservons par ailleurs le droit de modifier les informations ou les éventuelles offres commerciales fournies par le présent site, dans le cadre de nos opérations d'actualisation et de mise à jour des données, et ce sans préavis.

	



	Les liens hypertextes mis en oeuvre au sein du présent site Internet, en direction d'autres sites et/ou de pages personnelles et d'une manière générale vers toutes ressources existantes sur Internet, ne sauraient engager la responsabilité de MOUTARD.

	De même que la société MOUTARD ne pourra en aucune façon être tenue pour responsable des sites ayant un lien hypertexte avec le présent site et décline toute responsabilité quant à leur contenu et à leur utilisation.
</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html> 
{# empty Twig template #}
