{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('build/css/index.css')}}">{% endblock %}
{% block body %}
  <div class="py-0">
    <div class="container bg-primary">
      <div class="row  text-center">
          <div class="col-3 text-primary">Sauce Moutard Pro</div>
        <div class="col-6"></div>
        <div class="col-3 text-center text-primary">Retour à l'accueil</div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Ajout de collaborateurs</h1>
        </div>
      </div>
    </div>
  </div>
    <div class="py-2 text-center" >
    <div class="container">
      <div class="row">
          <div class="col-12">
              {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" >Ajouter</button>
        {{form_end(form)}}
          </div>
      </div>
    </div>
  </div>
  



{% endblock %}
