{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('build/css/index.css')}}">{% endblock %}
{% block body %}
  <div class="py-0">
    <div class="container bg-primary">
      <div class="row  text-center">
          <div class="col-3 text-primary">Sauce Moutard Pro</div>
        <div class="col-6"></div>
        <div class="col-3 text-center text-primary">Gestion des abonnements</div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center text-primary">Quoi de neuf chez XXXX</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="row  text-center  border border-dark">
              <div class="col-12 bg-primary text-primary">Villes les plus visitées <br></div>
            <div class="col-12"></div>
            <div class="col-12"><a class="btn btn-primary" href="#">Button </a></div>
            <div class="col-12 bg-primary text-primary">Lieux préférés <br></div>
            <div class="col-12"></div>
            <div class="col-12"><a class="btn btn-primary" href="#">Button </a></div>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
            <div class="row  text-center">
              <div class="col-12 bg-primary text-primary">Taux d'utilisation mensuel</div>
              <div class="col-12 "><br></div>
            <div class="col-12"><div class="progress yellow">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">75%</div>
          </div></div>
            
            </div>
        </div>
      </div>
    </div>
  </div>
    <div class="py-5">
    <div class="container   bg-dark">
      <div class="row" >
        <div class="col-12"></div>
        
      </div>
    </div>
  </div>
{% endblock %}
